:root {
    --heading-font: "PT Sans", sans-serif;
    --black: #000;
    --white: #fff;

    --primary-color: #b80257;
    --secondary-color: #783df0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    cursor: pointer;
}

a,
img,
input,
button,
select,
textarea {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}

.container {
    width: 1170px;
    max-width: 100%;
    /* max-width: calc(100% - 40px); */
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    display: flex;
    align-items: center;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    padding-left: 20px;
}

.search-input:not(:placeholder-shown) ~ .search-btn {
    color: #333;
}

.search-btn {
    height: 100%;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.5);
}

/* Header */

.header-wrap {
    display: flex;
    width: 100%;
    min-height: 496px;
    background-image: url(https://themazine.com/html/scholars-lms/images/home/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner {
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
}

.nav-link {
    display: inline-block;
    padding: 20px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--heading-font);
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.action-wrap {
    display: flex;
    gap: 20px;
}

.action-btn {
    color: var(--white);
    font-size: 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
    color: var(--white);
}

h1.heading {
    font-size: 3.2rem;
    font-weight: 700;
}

.breadcrumb {
    display: flex;
    color: #fffc;
    font-size: 1.5rem;
    font-family: var(--heading-font);
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 8px;
}

/* Main */
.main {
    padding: 110px 0 100px;
}

.main-inner {
    display: flex;
    gap: 30px;
}

.sidebar {
    width: 270px;
}

.menu-title {
    margin-top: 30px;
    color: #222;
    font-size: 1.6rem;
}

.menu {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.menu li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.menu a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 25px;
    color: rgba(0, 0, 0, 0.7);
}

.menu a:hover {
    color: var(--secondary-color);
}

/* Topics */
.topics {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.topic-active a,
.topics a:hover {
    color: var(--white);
    background: var(--secondary-color);
}

.topics a {
    display: inline-block;
    height: 30px;
    padding: 0 14px;
    border-radius: 15px;
    line-height: 30px;
}

/* Main content */

.main-content {
    flex: 1;
}

.courses-list {
    --column: 3;
    --spacing: 30px;

    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-top: 60px;
    margin-left: calc(-1 * var(--spacing));
}

.course-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / var(--column) - var(--spacing));
    margin-left: var(--spacing);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.thumb-wrap {
    display: block;
    /* aspect-ratio: 5 / 4; */
    position: relative;
    padding-top: 81%;
}

.course-thumb {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.course-heading {
    color: #464646;
    font-size: 1.8rem;
}

.course-desc {
    margin: 20px 0;
}

.course-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    color: #0009;
}

.course-bottom div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.course-btn {
    min-width: 66px;
    height: 32px;
    padding: 0 8px;
    border-radius: 30px;

    color: var(--white);
    background: var(--primary-color);
    line-height: 32px;
    text-align: center;
}

.course-btn-free {
    background: var(--secondary-color);
}

/* Pagination */
.pagination {
    margin-top: 74px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    min-width: 30px;
    padding: 6px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-act {
    min-width: 58px;
    color: var(--white);
    background: var(--secondary-color);
}

.pagination-current {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* Footer */
.footer {
    background: #151515;
    padding: 80px 0 160px 0;
    color: #ffffff99;
}

.footer-inner {
    display: flex;
    gap: 30px;
}

.footer-item {
    width: 200px;
}

.footer-item:first-child,
.footer-item:last-child {
    width: 300px;
}

.footer-desc {
    margin-top: 20px;
}

.footer-item:last-child .footer-desc {
    margin-top: 28px;
}

.copyright {
    margin-top: 20px;
    font-size: 1.4rem;
}

.footer-app {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 30px;
}

.footer-heading {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.footer-list {
    margin-top: 26px;
}

.footer-item-link {
    display: block;
    padding: 6px 0;
}

.footer-item-link:hover {
    color: var(--primary-color);
}

.footer-form {
    margin-top: 20px;
}

.footer-input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: #272727;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
    width: 95px;
    height: 40px;
    margin-top: 10px;
    padding: 0 12px;
    border-radius: 20px;
    background: var(--secondary-color);
    color: var(--white);
    letter-spacing: 1.5px;
}

/* Blog */

.header-wrap-blog {
    background-image: url(../img/banner-blog.jpg);
}

.blog-item + .blog-item {
    margin-top: 90px;
}

.blog-date {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    letter-spacing: 1.5px;
}

.blog-heading {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2.6rem;
    font-weight: 400;
}

.blog-heading:hover {
    color: var(--primary-color);
}

.blog-author {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.2rem;
}

.blog-author li + li::before {
    content: "/";
    padding: 0 8px;
}

.blog-img {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: 45px;
    object-fit: cover;
}

.blog-desc {
    margin-top: 45px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
}

.blog-more {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
}

.blog-more:hover {
    color: var(--secondary-color);
}

/* Sidebar */
.sidebar-search-form {
    height: 50px;
    border-radius: initial;
}

.sidebar-search-btn {
    width: 70px;
    background: var(--secondary-color);
    color: var(--white);
    font-size: 1.8rem;
}

.sidebar-title {
    margin-top: 50px;
    color: #000000b3;
    font-size: 2rem;
    font-weight: 700;
}

/* .sidebar-title ~ .sidebar-title {
    margin-top: 35px;
} */

.sidebar-blog-list,
.sidebar-cate-list {
    margin-top: 15px;
}

.sidebar-blog-item,
.sidebar-cate-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-blog-item:hover a {
    color: var(--primary-color);
}

.sidebar-blog-thumb {
    width: 100px;
    height: 90px;
    object-fit: cover;
}

.sidebar-blog-heading {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.sidebar-blog-date {
    margin-top: 5px;
    letter-spacing: normal;
}

.sidebar-cate-item a {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.7);
}

.sidebar-cate-item:hover a {
    color: var(--secondary-color);
}

.archive-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edecec;
    width: 100%;
    height: 58px;
    margin-top: 35px;
    padding: 0 20px 0 28px;

    font-size: 1.6rem;
    color: #424242;
    text-transform: capitalize;
}

.sidebar-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 35px;
}

.sidebar-tag {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.sidebar-tags li:hover .sidebar-tag {
    color: var(--white);
    background: var(--secondary-color);
}
